footer.main
    section.newsletter.p-30.text-white.wow.fadeIn.animated
        .container
            .row.align-items-center
                .col-lg-7.mb-md-3.mb-lg-0
                    .row.align-items-center
                        .col.flex-horizontal-center
                            img.icon-email(src='images/icon-email.svg' alt='')
                            h4.font-size-20.mb-0.ml-3 Sign up to Newsletter
                        .col.my-4.my-md-0.des
                            h5.font-size-15.ml-4.mb-0
                                | ...and receive &nbsp;
                                strong $25 coupon for first shopping.
                .col-lg-5
                    // Subscribe Form
                    form.form-subcriber.d-flex.wow.fadeIn.animated
                        input.form-control.bg-white.font-small(type='email' placeholder='Enter your email')
                        button.btn.bg-dark.text-white(type='submit') Subscribe
                    // End Subscribe Form
    section.section-padding.footer-mid
        .container.pt-15.pb-20
            .row
                .col-lg-4.col-md-6
                    .widget-about.font-md.mb-md-5.mb-lg-0
                        .logo.logo-width-1.wow.fadeIn.animated
                            a(href='index.html')
                                img(src='images/logo.svg' alt='logo')
                        h5.mt-20.mb-10.fw-600.text-grey-4.wow.fadeIn.animated Contact
                        p.wow.fadeIn.animated
                            strong Address:
                            | &nbsp; Son Tra, Da Nang, Viet Nam
                        p.wow.fadeIn.animated
                            strong Phone:
                            | &nbsp; (+84) 762.117.038 / (+84) 585.293.863
                        p.wow.fadeIn.animated
                            strong Hours:
                            | &nbsp; 10:00 - 18:00, Mon - Sat
                        h5.mb-10.mt-30.fw-600.text-grey-4.wow.fadeIn.animated Follow Us
                        .mobile-social-icon.wow.fadeIn.animated.mb-sm-5.mb-md-0
                            a(href='#')
                                img(src='images/icon-facebook.svg' alt='')
                            a(href='#')
                                img(src='images/icon-twitter.svg' alt='')
                            a(href='#')
                                img(src='images/icon-instagram.svg' alt='')
                            a(href='#')
                                img(src='images/icon-pinterest.svg' alt='')
                            a(href='#')
                                img(src='images/icon-youtube.svg' alt='')
                .col-lg-2.col-md-3
                    h5.widget-title.wow.fadeIn.animated About
                    ul.footer-list.wow.fadeIn.animated.mb-sm-5.mb-md-0
                        li
                            a(href='#') About Us
                        li
                            a(href='#') Delivery Information
                        li
                            a(href='#') Privacy Policy
                        li
                            a(href='#') Terms &amp; Conditions
                        li
                            a(href='#') Contact Us
                        li
                            a(href='#') Support Center
                .col-lg-2.col-md-3
                    h5.widget-title.wow.fadeIn.animated My Account
                    ul.footer-list.wow.fadeIn.animated
                        li
                            a(href='#') Sign In
                        li
                            a(href='#') View Cart
                        li
                            a(href='#') My Wishlist
                        li
                            a(href='#') Track My Order
                        li
                            a(href='#') Help
                        li
                            a(href='#') Order
                .col-lg-4
                    h5.widget-title.wow.fadeIn.animated Install App
                    .row
                        .col-md-8.col-lg-12
                            p.wow.fadeIn.animated From App Store or Google Play
                            .download-app.wow.fadeIn.animated
                                a.hover-up.mb-sm-4.mb-lg-0(href='#')
                                    img.active(src='images/app-store.jpg' alt='')
                                a.hover-up(href='#')
                                    img(src='images/google-play.jpg' alt='')
                        .col-md-4.col-lg-12.mt-md-3.mt-lg-0
                            p.mb-20.wow.fadeIn.animated Secured Payment Gateways
                            img.wow.fadeIn.animated(src='images/payment-method.png' alt='')
    .container.pb-20.wow.fadeIn.animated
        .row
            .col-12.mb-20
                .footer-bottom
            .col-lg-6
                p.float-md-left.font-sm.text-muted.mb-0
                    | &copy; &nbsp;
                    strong.text-brand Ecommerce
                    |  - Version 1
            .col-lg-6
                p.text-lg-end.text-start.font-sm.text-muted.mb-0
                    | Designed by &nbsp;
                    a(href='https://facebook.com/datkingvn' target='_blank') @datkingvn
                    | . All rights reserved
