mixin form-change-multi(path)
    form(action=path, method="POST", form-change-multi)
        .card
            .input-group
                .input-group-prepend.dropdown(class="bootstrap-select default-select form-control wide bleft")
                    select(name="type", class="default-select form-control wide bleft")
                        option(value='active') Hoạt động
                        option(value='inactive') Dừng hoạt động

                input(type="text", name="ids", class="form-control d-none")

                .input-group-append
                    button.btn.btn-primary(type='submit') THAY ĐỔI