doctype html
head
    meta(charset='utf-8')
    title #{pageTitle}
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(property='og:title' content='')
    meta(property='og:type' content='')
    meta(property='og:url' content='')
    meta(property='og:image' content='')
    // Favicon
    link(rel='shortcut icon' type='image/x-icon' href='/client/images/favicon.svg')
    // Template CSS
    link(rel='stylesheet' href='/client/css/main.css')

    // Body
body
    include ../partials/header

    block main

    include ../partials/footer

// Vendor JS
script(src='/client/js/modernizr-3.6.0.min.js')
script(src='/client/js/jquery-3.6.0.min.js')
script(src='/client/js/jquery-migrate-3.3.0.min.js')
script(src='/client/js/bootstrap.bundle.min.js')
script(src='/client/js/slick.js')
script(src='/client/js/jquery.syotimer.min.js')
script(src='/client/js/wow.js')
script(src='/client/js/jquery-ui.js')
script(src='/client/js/perfect-scrollbar.js')
script(src='/client/js/magnific-popup.js')
script(src='/client/js/select2.min.js')
script(src='/client/js/waypoints.js')
script(src='/client/js/counterup.js')
script(src='/client/js/jquery.countdown.min.js')
script(src='/client/js/images-loaded.js')
script(src='/client/js/isotope.js')
script(src='/client/js/scrollup.js')
script(src='/client/js/jquery.vticker-min.js')
script(src='/client/js/jquery.theia.sticky.js')
script(src='/client/js/jquery.elevatezoom.js')
// Template  JS
script(src='/client/js/main.js')
script(src='/client/js/shop.js')
